<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
</head>
<body>
<div class="specific-book-form" id="specific-book-form">
    <form>
        <label for="text">Name book:</label>
        <input type="text" id="text-specific-book" placeholder="Input name book!" name="name">
        <label for="text">Year of issue:</label>
        <input type="number" id="date-specific-book" placeholder="Input date book!" name="year">
        <label for="text">Open book:</label>
        <a href="/specificBookPage"><input type="button" value="Open book" class="button-specific-book" id="button-specific-book"></a>
    </form>
</div>
<div class="book-form" id="book-form">
    <form>
        <label for="text">Name book:</label>
        <input type="text" id="text" placeholder="War and Peace" name="name">
        <label for="text">Year of issue:</label>
        <input type="number" id="date" placeholder="1820" name="year">
        <label for="text">Save book:</label>
        <button id="save-book">Save book</button>
    </form>
</div>
<header>
    <button id="window-specific-book" class="window-specific-book">Open book</button>
</header>
<section>
    <span>Library(<span th:text="${bookCounts}">0</span>)</span>
    <button id="show-form-add-book" class="show-form-add-book">Add book</button>
    <br><br>
    <div id="book-list">
        <div th:each="book : ${books}">
            <a href="#" class="book-link" th:attr="data-id=${book.getId}" th:text="${book.getName}"></a>
        </div>
    </div>
</section>
<footer></footer>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="js/jquery.js"></script>
<script src="js/main.js"></script>
</body>
</html>